*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background: #000; */
}


/* ::-webkit-scrollbar{
  width: 8px;
  margin-right: 5px;
  background: transparent;
  
}

::-webkit-scrollbar-thumb{
  background: #8d8d8d;
  border-radius: 15px;
  
} */